
.sectionLogin {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(230, 204, 234, 0.492)),
    url(../../../public/image/salao.jpg)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.btnVoltar {
    padding: 1.5rem 0 0 1.5rem;
    display: block;
}

.btnVoltar img {
    height: 3rem;
}

.divLoginPai {
    background-color: white;
    width: clamp(19rem,  90%, 25rem);
    border-radius: 10px;
}

.divTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divTitulo p {
    font-size: 1.1rem;
}

.divLoginPai h1 {
    background: linear-gradient(to right, #e640e9, #812eca, #e640e9, #812eca, #e640e9) 50%;
    
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 10s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.divLoginPai p {
    color: #5d5f68;
}

/* form Inputs */

.form label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #54565b;
}

.divEmail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.divEmail img {
    width: 1.5rem;
    height: 1.5rem;
}

.divEmail div {
    border: solid 1px #B1B1B1;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    border-radius: 7px;
}

.divEmail div:focus-within {
    border: 4px solid #e940ca;
}

.divEmail input {
    border: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
}

.divEmail input:focus {
    outline: none;
}

.divEmail input::placeholder {
    font-size: 1rem;
}

.divNumber {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.divNumber img {
    height: 1.5rem;
    width: 1.5rem;
}

.divNumber div {
    border: solid 1px #B1B1B1;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
    border-radius: 7px;
}

.divNumber div:focus-within {
    border: 4px solid #e940ca;
}

.divNumber input {
    border: none;
    width: 100%;
    height: 3rem;
    line-height: 50px;
    font-size: 1rem;
}

.divNumber input:focus {
    outline: none;
}

/* form linkSenha e button*/

.divLinkSenha {
    padding-left: 1rem;
}

.divLinkSenha div {
    display: flex;
    gap: .5rem;
}

.divLinkSenha label {
    color: #3b3d43;
}

.divLinkSenha input[type="checkbox"] {
    accent-color: #e940ca;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.form button {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right, #e640e9, #812eca, #e640e9, #812eca, #e640e9) 50%;
    background-size: 200%;
    animation: animate-gradient 10s linear infinite;
    cursor: pointer;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.divOu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem 0 2rem;
    font-size: 1.3rem;
}

.divOu div {
    border-bottom: solid #c7c4c4 1px;
    
    width: 100%;
    height: 0;
}

.divBtnLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.divBtnLogin button {
    width: 100%;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: solid 1px #B1B1B1 ;
}

.divBtnLogin button:hover {
    background-color: rgb(234, 233, 233);
}

