.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divName {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divName img {
    height: 2.5rem;
    width: 2.5rem;
}

.divName a {
    color: #f70aa8;
    font-size: 1.5rem;
    text-decoration: none;
}

.divLinks {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.divLinks a {
    text-decoration: none;
    color: #5d5f68;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.divLinks a:hover {
    color: #f70aa8;
}



.divLinks .linkButton {
    color: white;
    background-color: #f8207a;
    padding: 1rem 2rem;
    border-radius: 10rem;
}

.divLinks .linkButton:hover {
    background-color: #a30d4b;
    color: rgb(182, 178, 178);
}

.menuHabur {
    font-size: 3rem;
    cursor: pointer;
}

/*Pós login*/

.divHeaderClose {
    display: none;
}

.sairClose {
    display: none;
}

.PaiNomeDoUsuario {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.divNomeUsuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.divNomeUsuario p {
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}

.divNomeUsuario img {
    height: 2rem;
    width: 2rem;
}

.botaoSair {
    color: white;
    background-color: #f8207a;
    padding: .5rem 1.5rem;
    border-radius: 10rem;
    border: none;
}

.botaoSair:hover {
    background-color: #ba386e;
    color: rgb(239, 238, 238);
    cursor: pointer;
}

.nomeDoUsuarioClose {
    display: none;
}

.nomeDoSite {
    display: none;
}

/*Fim do pós login*/

@media (min-width: 700px) {
    .menuHabur {
        display: none;
    }
}

@media (max-width: 700px) {

    .falseMenu {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .divHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
    }

    .trueMenu {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }

    .divLinks a {
        width: 90vw;
    }

    .divLinks .linkButton {
        padding: 1rem 0;
        text-align: center;
    }

    /*Pós login*/
    .linkButtonMoble {
        display: none;
    }

    .PaiNomeDoUsuarioMoble {
        display: none;
    }

    .loginMobleClose {
        display: none;
    }

    .sairClose {
        display: none;
    }

    .nomeDoSite {
        display: flex;
    }

    .divNomeUsuario {
        width: 100%;
        justify-content: start;
        border-bottom: 2px solid rgb(110, 108, 108);
        padding: 1rem 0;
    }

    /* .nomeDoUsuario img {
        border: solid 1px rgb(215, 84, 106);
        border-radius: 10rem;
    } */

    /*Fim do pós login*/
}