
.divContato img {
    height: 4rem;
    width: 4rem;
}

.divContato p {
    font-size: 1.2rem;
}

.divContato {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divContato .paraGrafo1 {
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;
}